body {
    width: 1280px;
    height: 617px;
  }
  
  html {
    width: 1280px;
    height: 617px;
  }
  .lvl1 {
    position: relative;
    width: 1280px;
    height: 720px;
  
    background: #ffffff;
  }
  
  .lvl1-header {
    position: absolute;
    width: 1280px;
    height: 103px;
    left: 0px;
    top: 0px;
  
    background: #f0d12d;
  }
  
  .lvl1-lifes {
    position: absolute;
    width: 640px;
    height: 103px;
    left: 0px;
    top: 0px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: #cc9c19;
  }
  
  .lvl1-lvl {
    position: absolute;
    width: 640px;
    height: 103px;
    left: 640px;
    top: 0px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #ffffff;
  }
  
  .board {
    position: absolute;
    width: 1280px;
    left: calc(50% - 1280px / 2);
    top: calc(50% - 617px / 2 + 51.5px);
    display: grid;
    grid-template-columns: 236px 236px 236px 236px;
    grid-template-rows: 104px 104px 104px 104px;
    row-gap: 25px;
    column-gap: 20px;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    margin-top: 25px;
  }
  
  .loose {
    position: absolute;
    width: 717px;
    height: 356px;
    left: 281px;
    top: 182px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    display: none;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: space-around;
    flex-direction: column;
    justify-items: center;
  }
  
  .start-btn {
    position: relative;
    width: 383px;
    height: 123.77px;
    left: 448px;
    top: 493px;
    border: none;
  
    background: #48e445;
    border-radius: 30.9425px;
  }
  .start-txt {
    width: 383px;
    height: 124px;
    left: 0px;
    top: 0px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 55.009px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #497e2f;
  }
  
  .win {
    position: absolute;
    width: 717px;
    height: 356px;
    left: 290px;
    top: 182px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
    display: none;
    align-items: center;
    text-align: center;
    color: #000000;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
  }
  
  .card-show {
    visibility: visible;
    display: grid;
  }
  .card-no-show {
    display: none;
  }
  
  .back-card {
    display: grid;
  }
  
  .matched {
    display: none;
  }
  